*.csv
*.xlsx
*.png
*.npz
*.mat
*.h5
*.nc
*.feather
*.parquet
*.npy

*.qgz

.ipynb_checkpoints/
__pycache__/
.idea/
.vscode/
.eggs/
AI4Water.egg-info/
wandb/

# private stuff
results/
data/
testing/
_models/
paper/

# build related
*dist/
*build/
*ai4water.egg-info/

# Unit test / coverage reports
.coveralls.yml
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.jovianrc
.tox/
tox.ini

*tests/catboost_info/
*ai4water/datasets/data/

# docs 
site/
docs/source/auto_examples/
docs/source/gen_modules/

# run time junk
examples/.jovianrc
examples/catboost_info/
catboost_info/
*catboost_info/
examples/paper_figs/catboost_info/
tests/__MACOSX/