*.csv
*.xlsx
*.png

.ipynb_checkpoints/
__pycache__/
.idea/

results/
data/
testing/

# build related
*dist/
*build/
*dl4seq.egg-info/

# Unit test / coverage reports
.coveralls.yml
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover