*.csv
*.xlsx
*.png

.ipynb_checkpoints/
__pycache__/
.idea/

# private stuff
results/
data/
testing/
_models/
dl4seq/private_layers.py
paper/

# build related
*dist/
*build/
*dl4seq.egg-info/

# Unit test / coverage reports
.coveralls.yml
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

*tests/catboost_info/