tensorflow # only if you want to use tensorflow-based models, >=1.15
numpy
pandas
matplotlib
scikit-learn
scikit-optimize  # only if you want to use file hyper_opt.py for hyper-parameter optimization
seaborn
git+https://github.com/AtrCheema/TSErrors.git  # preferably use github for TSErrors
# pytorch # only if you want to use pytorch-based models
h5py<2.11.0 # only if you want to save batches
xgboost
EMD-signal  # for emd transformation
see-rnn   # for rnn visualizations
