
pandas
numpy
matplotlib
sphinx
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx_issues
scipy
scikit-learn
scikit-optimize
plotly
tensorflow==2.7
protobuf==3.19.1
seaborn
easy_mpl
SeqMetrics
sphinx-gallery

#